<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Eurocopa 2020</title>
</head>

<body>
    <header id="header" class="header">
        <nav class="navigate">
            <div class="menu-link"><a href="">HOME</a></div>
            <div class="menu-link"><a href="">SELEÇÕES</a></div>
            <div class="menu-link"><a href="">TABELA</a></div>
            <div class="menu-link"><a href="">PALPITES</a></div>
            <div class="menu-link"><a href="">SOBRE</a></div>
        </nav>
    </header>

    <h3 class="page-title about-title">Sobre Nós</h3>

    <section class="section">
        <div class="collaborator">
            <img src="" alt="">
            <h4 class="collaborator-name">Matheus Macedo</h4>
            <h6 class="collaborator-description">Graduando em Engenharia de Computação</h6>
            <div class="social-media-bar">
                <img src="" alt="Instagram">
                <img src="" alt="Facebook">
                <img src="" alt="Gmail">
            </div>
        </div>
        <div class="collaborator">
            <img src="" alt="">
            <h4 class="collaborator-name"></h4>
            <h6 class="collaborator-description">Graduando em Engenharia de Computação</h6>
            <div class="social-media-bar">
                <img src="" alt="Instagram">
                <img src="" alt="Facebook">
                <img src="" alt="Gmail">
            </div>
        </div>
    </section>

    <footer class="footer">
        <div class="footer-image"><img src="" alt=""></div>
        <nav class="navigate">
            <div class="menu-link"><a href="">HOME</a></div>
            <div class="menu-link"><a href="">SELEÇÕES</a></div>
            <div class="menu-link"><a href="">TABELA</a></div>
            <div class="menu-link"><a href="">PALPITES</a></div>
            <div class="menu-link"><a href="">SOBRE</a></div>
        </nav>
    </footer>

</body>

</html>