<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="..\assets\images\euro-icon.ico" type="image/x-icon">
    <title>Eurocopa 2020</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Source+Serif+Pro:wght@300&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="..\public\css\style.css">
    <link rel="stylesheet" href="..\public\css\about.css">

</head>

<body>
    <header id="header" class="header">
        <div class="border-navigate"></div>
        <nav class="navigate">
            <div class="menu-link"><a href="home.html">HOME</a></div>
            <div class="menu-link"><a href="selecao.html">SELEÇÕES</a></div>
            <div class="menu-link"><a href="tabela.html">TABELA</a></div>
            <div class="menu-link"><a href="">COMENTÁRIOS</a></div>
            <div class="menu-link active"><a href="about.html">SOBRE</a></div>
        </nav>
    </header>

    <div class="content">

        <section class="section">
        <h3>Sobre Nós</h3>
        <hr class="title-section-line"/></section>
        <section class="section section-inline">
            <div class="collaborator">
                <img class="collaborator-image" src="../assets/images/matheus.jpg" alt="Matheus Macedo">
                <h4 class="collaborator-name">Matheus Macedo</h4>
                <h6 class="collaborator-description">GRADUANDO EM ENGENHARIA DE COMPUTAÇÃO</h6>
                <div class="social-media-bar">
                    <img class="social-media-bar-item" src="https://img.icons8.com/material-outlined/48/ffffff/instagram-new--v1.png" />
                    <img class="social-media-bar-item" onclick="" src="https://img.icons8.com/ios-glyphs/30/ffffff/facebook-new.png" />
                    <img class="social-media-bar-item" src="https://img.icons8.com/color/48/000000/google-logo.png" />

               
                </div>
            </div>
            <div class="collaborator">
                <img class="collaborator-image" src="../assets/images/maickel.jpg" alt="Maickel Alves">
                <h4 class="collaborator-name">Maickel Alves</h4>
                <h6 class="collaborator-description">GRADUANDO EM ENGENHARIA DE COMPUTAÇÃO</h6>
                <div class="social-media-bar">
                    <img class="social-media-bar-item" src="https://img.icons8.com/material-outlined/48/ffffff/instagram-new--v1.png" />
                    <img class="social-media-bar-item" src="https://img.icons8.com/ios-glyphs/30/ffffff/facebook-new.png" />
                    <img class="social-media-bar-item" src="https://img.icons8.com/color/48/000000/google-logo.png" />
                </div>
            </div>
        </section>
    </div>

    <footer class="footer">
        <div class="footer-margem">
            <img class="footer-image" src="..\assets\images\logo-euro.jpg" alt="logo-euro">
            <h6 class="copyright"> Ⓒ 2021 DEMO SITE </h6>
        </div>
        <nav class="navigate">
            <div class="menu-link"><a href="home.html">HOME</a></div>
            <div class="menu-link"><a href="selecao.html">SELEÇÕES</a></div>
            <div class="menu-link"><a href="tabela.html">TABELA</a></div>
            <div class="menu-link"><a href="">COMENTÁRIOS</a></div>
            <div class="menu-link active"><a href="about.html">SOBRE</a></div>
        </nav>
        <div class="footer-margem"></div>
    </footer>

</body>

</html>