<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="..\assets\images\euro-icon.ico" type="image/x-icon">
    <title>Eurocopa 2021</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Source+Serif+Pro:wght@300&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="..\public\css\style.css">
    <link rel="stylesheet" href="..\public\css\comment.css">

</head>

<body>
    <header id="header" class="header">
        <div class="border-navigate"></div>
        <nav class="navigate">
            <div class="menu-link"><a href="home.html">HOME</a></div>
            <div class="menu-link"><a href="selecao.html">SELEÇÕES</a></div>
            <div class="menu-link"><a href="table.html">TABELA</a></div>
            <div class="menu-link active"><a href="comment.html">COMENTÁRIOS</a></div>
            <div class="menu-link"><a href="about.html">SOBRE</a></div>
        </nav>

        <div class="theme-switch-wrapper">
            <label class="theme-switch" for="checkbox">
                <input type="checkbox" id="checkbox" />
                <div class="slider round"></div>
            </label>
            <em id='change-txt'>Ativar MODO ESCURO!</em>
        </div>

        <script src="../public/js/home.js"></script>
        <script src="../public/js/comment.js"></script>

    </header>

    <div class="content">
        <section class="section">
            <h3 class="title-section">Comentários</h3>
            <hr class="title-section-line">
        </section>
        <section class="section comments"></section>

        <section class="section">
            <h3 class="form-title">Envie o seu comentário!</h3>
            <form onsubmit="formValid(); return false" id='comment-form' class="form">
                <div class="col-1">
                    <div class="row row-1">
                        <input class="input-name" type="text" placeholder="NOME" required>
                        <select class="input-selecao" name="" id="" required>
                            <option value="">--Selecionar--</option>
                            <option value="0">Alemanha</option>
                            <option value="1">Áustria</option>
                            <option value="2">Bélgica</option>
                            <option value="3">Croácia</option>
                            <option value="4">Dinamarca</option>
                            <option value="5">Escócia</option>
                            <option value="6">Eslováquia</option>
                            <option value="7">Espanha</option>
                            <option value="8">Finlândia</option>
                            <option value="9">França</option>
                            <option value="10">País de Gales</option>
                            <option value="11">Holanda</option>
                            <option value="12">Hungria</option>
                            <option value="13">Inglaterra</option>
                            <option value="14">Itália</option>
                            <option value="15">Macedônia</option>
                            <option value="16">Polônia</option>
                            <option value="17">Portugal</option>
                            <option value="18">Rússia</option>
                            <option value="19">Suécia</option>
                            <option value="20">Suíça</option>
                            <option value="21">Rep. Tcheca</option>
                            <option value="22">Turquia</option>
                            <option value="23">Ucrânia</option>            
                        </select>
                        <input class="input-email" type="email" placeholder="E-MAIL" required>
                        <!-- <span class="input-name-error" style="color:red">* e-mail inválido</span> -->
                    </div>
                    <div class="row row-2">
                        <textarea class="input-comment" rows="10" placeholder="DIGITE O SEU COMENTÁRIO" required></textarea>
                    </div>
                </div>
                <div class="col-2">
                    <div class="row row-1">
                        <div class="rates">
                            <h5>NOTA PARA O EVENTO</h5>
                            <div class="rate">
                                <img src="../assets/images/empty_star.svg" alt="" class="rate" id="star-1" onclick="changeStar(1)">
                                <img src="../assets/images/empty_star.svg" alt="" class="rate" id="star-2" onclick="changeStar(2)">
                                <img src="../assets/images/empty_star.svg" alt="" class="rate" id="star-3" onclick="changeStar(3)">
                                <img src="../assets/images/empty_star.svg" alt="" class="rate" id="star-4" onclick="changeStar(4)">
                                <img src="../assets/images/empty_star.svg" alt="" class="rate" id="star-5" onclick="changeStar(5)">
                                <input type="hidden" name="star-name" class="input-star">
                            </div>
                        </div>
                    </div>
                    <div class="row row-2">
                        <button type="submit">ENVIAR</button>

                    </div>
                </div>

            </form>
        </section>
    </div>

    <footer class="footer">
        <div class="footer-margem">
            <img class="footer-image" src="..\assets\images\logo-euro.jpg" alt="logo-euro">
            <h6 class="copyright"> Ⓒ Feito por Matheus Macedo e Maickel Alves </h6>
        </div>
        <nav class="navigate">
            <div class="menu-link"><a href="home.html">HOME</a></div>
            <div class="menu-link"><a href="selecao.html">SELEÇÕES</a></div>
            <div class="menu-link"><a href="table.html">TABELA</a></div>
            <div class="menu-link active"><a href="comment.html">COMENTÁRIOS</a></div>
            <div class="menu-link"><a href="about.html">SOBRE</a></div>
        </nav>
        <div class="footer-margem"></div>
    </footer>

</body>

</html>