<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="..\assets\images\euro-icon.ico" type="image/x-icon">
    <title>Eurocopa 2020</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Source+Serif+Pro:wght@300&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="..\public\css\style.css">

</head>

<body>
    <header id="header" class="header">
        <div class="border-navigate"></div>
        <nav class="navigate">
            <div class="menu-link active"><a href="home.html">HOME</a></div>
            <div class="menu-link"><a href="selecao.html">SELEÇÕES</a></div>
            <div class="menu-link"><a href="table.html">TABELA</a></div>
            <div class="menu-link"><a href="comment.html">COMENTÁRIOS</a></div>
            <div class="menu-link"><a href="about.html">SOBRE</a></div>
        </nav>

        <div class="theme-switch-wrapper">
            <label class="theme-switch" for="checkbox">
                <input type="checkbox" id="checkbox" />
                <div class="slider round"></div>
            </label>
            <em id='change-txt'>Ativar MODO ESCURO!</em>
        </div>

        <script src="../public/js/home.js"></script>

    </header>

    <div class="content">

        <iframe class="video" src="https://www.youtube.com/embed/Y_dknKLRqKA" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

        <section class="section">
            <h3 class="title-section">Sobre o evento</h3>
            <hr class="title-section-line">
            <p class="text-section">O <a id="link" href="https://pt.wikipedia.org/wiki/Campeonato_Europeu_de_Futebol" target="_blanck"><strong>Campeonato Europeu de Futebol</strong></a>, também conhecido como <strong>Euro</strong> ou ainda <strong>Eurocopa</strong>, é o principal
                campeonato de futebol entre seleções dos países da UEFA e, globalmente, apenas é superado pela Copa do Mundo. Acontecendo a cada quatro anos desde 1960, foi originalmente chamado de Taça das Nações Europeias, mudando de nome para Euro
                em 1968.</p>
            <p class="text-section">Até 1976 apenas quatro seleções entravam na fase final do torneio. Em 1980 esse numero aumentou para oito e a partir de 1996 dezesseis seleções passaram a jogar o torneio, aumentando esse número para vinte e quatro seleções participantes em
                2016. Os competidores são escolhidos em uma série de jogos de qualificação: em 1960 e 1964 através de mata-matas; a partir de 1968 também foi incluída uma fase de grupos nas eliminatórias. O(s) país(es)-sede se classificam automaticamente.</p>
            <p class="text-section">A União Soviética ganhou a competição inaugural; A Alemanha triunfou por três vezes, duas como Alemanha Ocidental, assim como a Espanha que também ganhou três vezes. A França ganhou o torneio duas vezes. Desta forma, Alemanha, França e Espanha
                são as únicas seleções a terem ganho o torneio mais de uma vez. Outras 7 seleções ganharam o torneio apenas uma vez.</p>
            <p class="text-section">O nome da taça entregue aos vencedores da competição é uma homenagem ao ex-secretário geral da UEFA, Henri Delaunay, que propôs, em 1927, a criação de uma competição entre seleções europeias para determinar a melhor do continente, mas só após
                a sua morte a ideia foi concretizada.</p>
            <p class="text-section">A primeira vez que as finais foram disputadas em mais de um país-sede foi o Euro 2000, sediado na Bélgica e Países Baixos (Holanda). Em 2008 o Campeonato Europeu de Futebol foi disputado na Áustria e Suíça. Em 2012 o torneio foi disputado
                também em dois países: na Polónia e Ucrânia.</p>
            <p class="text-section">Em 2012, o Comitê Executivo da UEFA aprovou a realização da Euro 2020 em vários países da Europa, em vez da prova se realizar apenas em um. A ideia tinha partido do então presidente da UEFA, Michel Platini, como forma de comemorar os 60 anos
                da competição. Por conta da pandemia em 2020, o torneio foi adiado para o ano seguinte, mantendo o nome de Euro 2020.</p>
            <hr>
        </section>

        <section class="section">
            <h3 class="title-section">Maiores Campeões</h3>

            <hr class="title-section-line">
            <div class="table-champions">
                <div class="grid-champions">
                    <div><abbr title="1972, 1980 e 1996"><img class="champions-icon" src="..\assets\images\alemanha.jpg" alt="Alemanha"></abbr></div>
                    <div><abbr title="1964, 2008 e 2012"><img class="champions-icon" src="..\assets\images\espanha.jpg" alt="Espanha"></abbr></div>
                    <div><abbr title="1984 e 2000"><img class="champions-icon" src="..\assets\images\franca.jpg" alt="França"></abbr></div>
                    <div></div>

                </div>
                <div class="grid-trofeus">
                    <div><img class="champions-icon" src="..\assets\images\trofeu.png" alt="Taça"></div>
                    <div><img class="champions-icon" src="..\assets\images\trofeu.png" alt="Taça"></div>
                    <div><img class="champions-icon" src="..\assets\images\trofeu.png" alt="Taça"></div>
                    <div><img class="champions-icon" src="..\assets\images\trofeu.png" alt="Taça"></div>
                    <div><img class="champions-icon" src="..\assets\images\trofeu.png" alt="Taça"></div>
                    <div></div>
                </div>
            </div>
        </section>

    </div>

    <footer class="footer">
        <div class="footer-margem">
            <img class="footer-image" src="..\assets\images\logo-euro.jpg" alt="logo-euro">
            <h6 class="copyright"> Ⓒ Feito por Matheus Macedo e Maickel Alves </h6>
        </div>
        <nav class="navigate">
            <div class="menu-link active"><a href="home.html">HOME</a></div>
            <div class="menu-link"><a href="selecao.html">SELEÇÕES</a></div>
            <div class="menu-link"><a href="table.html">TABELA</a></div>
            <div class="menu-link"><a href="comment.html">COMENTÁRIOS</a></div>
            <div class="menu-link"><a href="about.html">SOBRE</a></div>
        </nav>
        <div class="footer-margem"></div>
    </footer>
</body>

</html>