<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Eurocopa 2020</title>
</head>


<style>
    .page-title {}
</style>

<body>

    <header id="header" class="header">
        <nav class="navigate">
            <div class="menu-link"><a href="">HOME</a></div>
            <div class="menu-link"><a href="">SELEÇÕES</a></div>
            <div class="menu-link"><a href="">TABELA</a></div>
            <div class="menu-link"><a href="">PALPITES</a></div>
            <div class="menu-link"><a href="">SOBRE</a></div>
        </nav>
    </header>

    <h3 class="page-title selecao-title">Seleções</h3>
    <section class="section">

        <div class="selecao selecao-1">
            <img src="" alt="Alemanha">
            <h6>Alemanha</h6>
        </div>
        <div class="selecao selecao-2">
            <img src="" alt="Áustria">
            <h6>Áustria</h6>
        </div>
        <div class="selecao selecao-3">
            <img src="" alt="Bélgica">
            <h6>Bélgica</h6>
        </div>
        <div class="selecao selecao-4">
            <img src="" alt="Croácia">
            <h6>Croácia</h6>
        </div>
    </section>
    <section class="section">
        <div class="selecao selecao-5">
            <img src="" alt="Dinamarca">
            <h6>Dinamarca</h6>
        </div>
        <div class="selecao selecao-6">
            <img src="" alt="Escócia">
            <h6>Escócia</h6>
        </div>
        <div class="selecao selecao-7">
            <img src="" alt="Eslováquia">
            <h6>Eslováquia</h6>
        </div>
        <div class="selecao selecao-8">
            <img src="" alt="Espanha">
            <h6>Espanha</h6>
        </div>
    </section>
    <section class="section">
        <div class="selecao selecao-9">
            <img src="" alt="Finlândia">
            <h6>Finlândia</h6>
        </div>
        <div class="selecao selecao-10">
            <img src="" alt="França">
            <h6>França</h6>
        </div>
        <div class="selecao selecao-11">
            <img src="" alt="País de Gales">
            <h6>País de Gales</h6>
        </div>
        <div class="selecao selecao-12">
            <img src="" alt="Holanda">
            <h6>Holanda</h6>
        </div>
    </section>
    <section class="section">
        <div class="selecao selecao-13">
            <img src="" alt="Holanda">
            <h6>Holanda</h6>
        </div>
        <div class="selecao selecao-14">
            <img src="" alt="Inglaterra">
            <h6>Inglaterra</h6>
        </div>
        <div class="selecao selecao-15">
            <img src="" alt="Itália">
            <h6>Itália</h6>
        </div>
        <div class="selecao selecao-16">
            <img src="" alt="Macedônia">
            <h6>Macedônia</h6>
        </div>
    </section>
    <section class="section">
        <div class="selecao selecao-17">
            <img src="" alt="Polônia">
            <h6>Polônia</h6>
        </div>
        <div class="selecao selecao-18">
            <img src="" alt="Portugal">
            <h6>Portugal</h6>
        </div>
        <div class="selecao selecao-19">
            <img src="" alt="Rússia">
            <h6>Rússia</h6>
        </div>
        <div class="selecao selecao-20">
            <img src="" alt="Suécia">
            <h6>Suécia</h6>
        </div>
    </section>
    <section class="section">
        <div class="selecao selecao-21">
            <img src="" alt="Suíça">
            <h6>Suíça</h6>
        </div>
        <div class="selecao selecao-22">
            <img src="" alt="Rep. Tcheca">
            <h6>Rep. Tcheca</h6>
        </div>
        <div class="selecao selecao-23">
            <img src="" alt="Turquia">
            <h6></h6>
        </div>
        <div class="selecao selecao-24">
            <img src="" alt="Ucrânia">
            <h6>Ucrânia</h6>
        </div>
    </section>

    <footer class="footer">
        <div class="footer-image"><img src="" alt=""></div>
        <nav class="navigate">
            <div class="menu-link"><a href="">HOME</a></div>
            <div class="menu-link"><a href="">SELEÇÕES</a></div>
            <div class="menu-link"><a href="">TABELA</a></div>
            <div class="menu-link"><a href="">PALPITES</a></div>
            <div class="menu-link"><a href="">SOBRE</a></div>
        </nav>
    </footer>
</body>

</html>