<!DOCTYPE html>
<html lang="pt-br">

<head>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="..\assets\images\euro-icon.ico" type="image/x-icon">
    <title>Eurocopa 2020</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Source+Serif+Pro:wght@300&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="..\public\css\style.css">
    <link rel="stylesheet" href="..\public\css\selecao.css">

</head>

<body>

    <header id="header" class="header">
        <div class="border-navigate"></div>
        <nav class="navigate">
            <div class="menu-link"><a href="home.html">HOME</a></div>
            <div class="menu-link active"><a href="selecao.html">SELEÇÕES</a></div>
            <div class="menu-link"><a href="table.html">TABELA</a></div>
            <div class="menu-link"><a href="comment.html">COMENTÁRIOS</a></div>
            <div class="menu-link"><a href="about.html">SOBRE</a></div>
        </nav>

        <div class="theme-switch-wrapper">
            <label class="theme-switch" for="checkbox">
                <input type="checkbox" id="checkbox" />
                <div class="slider round"></div>
            </label>
            <em id='change-txt'>Ativar MODO ESCURO!</em>
        </div>

        <script src="../public/js/home.js"></script>

    </header>

    <div class="content">

        <h3 class="title">Seleções</h3>
        <hr class="title-line" />

        <section class="section">
            <div class="selecao-box">
                <div class="selecao selecao-1">
                    <img src="../assets/images/flags/alemanha.jpg" alt="Alemanha">
                    <h6 class="selecao-name">Alemanha</h6>
                </div>
                <div class="selecao selecao-2">
                    <img src="../assets/images/flags/austria.png" alt="Áustria">
                    <h6 class="selecao-name">Áustria</h6>
                </div>
                <div class="selecao selecao-3">
                    <img src="../assets/images/flags/belgica.jpg" alt="Bélgica">
                    <h6 class="selecao-name">Bélgica</h6>
                </div>

                <div class="selecao selecao-4">
                    <img src="../assets/images/flags/croacia.jpg" alt="Croácia">
                    <h6 class="selecao-name">Croácia</h6>
                </div>
            </div>
            <hr>
        </section>
        <section class="section">
            <div class="selecao-box">
                <div class="selecao selecao-5">
                    <img src="../assets/images/flags/dinamarca.png" alt="Dinamarca">
                    <h6 class="selecao-name">Dinamarca</h6>
                </div>
                <div class="selecao selecao-6">
                    <img src="../assets/images/flags/escocia.png" alt="Escócia">
                    <h6 class="selecao-name">Escócia</h6>
                </div>
                <div class="selecao selecao-7">
                    <img src="../assets/images/flags/eslovaquia.png" alt="Eslováquia">
                    <h6 class="selecao-name">Eslováquia</h6>
                </div>

                <div class="selecao selecao-8">
                    <img src="../assets/images/flags/espanha.jpg" alt="Espanha">
                    <h6 class="selecao-name">Espanha</h6>
                </div>
            </div>
            <hr>
        </section>
        <section class="section">
            <div class="selecao-box">
                <div class="selecao selecao-9">
                    <img src="../assets/images/flags/finlandia.png" alt="Finlândia">
                    <h6 class="selecao-name">Finlândia</h6>
                </div>
                <div class="selecao selecao-10">
                    <img src="../assets/images/flags/franca.jpg" alt="França">
                    <h6 class="selecao-name">França</h6>
                </div>
                <div class="selecao selecao-11">
                    <img src="../assets/images/flags/gales.png" alt="País de Gales">
                    <h6 class="selecao-name">País de Gales</h6>
                </div>

                <div class="selecao selecao-12">
                    <img src="../assets/images/flags/holanda.png" alt="Holanda">
                    <h6 class="selecao-name">Holanda</h6>
                </div>
            </div>
            <hr>
        </section>
        <section class="section">
            <div class="selecao-box">
                <div class="selecao selecao-13">
                    <img src="../assets/images/flags/hungria.png" alt="Hungria">
                    <h6 class="selecao-name">Hungria</h6>
                </div>
                <div class="selecao selecao-14">
                    <img src="../assets/images/flags/inglaterra.png" alt="Inglaterra">
                    <h6 class="selecao-name">Inglaterra</h6>
                </div>
                <div class="selecao selecao-15">
                    <img src="../assets/images/flags/italia.jpg" alt="Itália">
                    <h6 class="selecao-name">Itália</h6>
                </div>

                <div class="selecao selecao-16">
                    <img src="../assets/images/flags/macedonia.png" alt="Macedônia">
                    <h6 class="selecao-name">Macedônia</h6>
                </div>
            </div>
            <hr>
        </section>
        <section class="section">
            <div class="selecao-box">
                <div class="selecao selecao-17">
                    <img src="../assets/images/flags/polonia.jpg" alt="Polônia">
                    <h6 class="selecao-name">Polônia</h6>
                </div>
                <div class="selecao selecao-18">
                    <img src="../assets/images/flags/portugal.jpg" alt="Portugal">
                    <h6 class="selecao-name">Portugal</h6>
                </div>
                <div class="selecao selecao-19">
                    <img src="../assets/images/flags/russia.png" alt="Rússia">
                    <h6 class="selecao-name">Rússia</h6>
                </div>

                <div class="selecao selecao-20">
                    <img src="../assets/images/flags/suecia.png" alt="Suécia">
                    <h6 class="selecao-name">Suécia</h6>
                </div>
            </div>
            <hr>
        </section>
        <section class="section">
            <div class="selecao-box">
                <div class="selecao selecao-21">
                    <img src="../assets/images/flags/suica.png" alt="Suíça">
                    <h6 class="selecao-name">Suíça</h6>
                </div>
                <div class="selecao selecao-22">
                    <img src="../assets/images/flags/tcheca.jpg" alt="Rep. Tcheca">
                    <h6 class="selecao-name">Rep. Tcheca</h6>
                </div>
                <div class="selecao selecao-23">
                    <img src="../assets/images/flags/turquia.png" alt="Turquia">
                    <h6 class="selecao-name">Turquia</h6>
                </div>

                <div class="selecao selecao-24">
                    <img src="../assets/images/flags/ucrania.jpg" alt="Ucrânia">
                    <h6 class="selecao-name">Ucrânia</h6>
                </div>
            </div>

        </section>
    </div>

    <footer class="footer">
        <div class="footer-margem">
            <img class="footer-image" src="..\assets\images\logo-euro.jpg" alt="logo-euro">
            <h6 class="copyright"> Ⓒ Feito por Matheus Macedo e Maickel Alves </h6>
        </div>
        <nav class="navigate">
            <div class="menu-link"><a href="home.html">HOME</a></div>
            <div class="menu-link active"><a href="selecao.html">SELEÇÕES</a></div>
            <div class="menu-link"><a href="table.html">TABELA</a></div>
            <div class="menu-link"><a href="comment.html">COMENTÁRIOS</a></div>
            <div class="menu-link"><a href="about.html">SOBRE</a></div>
        </nav>
        <div class="footer-margem"></div>
    </footer>
</body>

</html>