<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="..\assets\images\euro-icon.ico" type="image/x-icon">
    <title>Eurocopa 2020</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Source+Serif+Pro:wght@300&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="..\public\css\style.css">
    <link rel="stylesheet" href="..\public\css\table.css">

</head>

<body>
    <header id="header" class="header">
        <div class="border-navigate"></div>
        <nav class="navigate">
            <div class="menu-link"><a href="home.html">HOME</a></div>
            <div class="menu-link"><a href="selecao.html">SELEÇÕES</a></div>
            <div class="menu-link active"><a href="table.html">TABELA</a></div>
            <div class="menu-link"><a href="comment.html">COMENTÁRIOS</a></div>
            <div class="menu-link"><a href="about.html">SOBRE</a></div>
        </nav>

        <div class="theme-switch-wrapper">
            <label class="theme-switch" for="checkbox">
                <input type="checkbox" id="checkbox" />
                <div class="slider round"></div>
            </label>
            <em id='change-txt'>Ativar MODO ESCURO!</em>
        </div>

        <script src="../public/js/home.js"></script>
    </header>

    <div class="content">


        <h3 class="title-section">Tabela</h3>
        <hr class="title-section-line">

        <section class="section">
            <h3 class="group-name">Grupo A</h3>
            <table class="table-score group group-a">
                <thead>
                    <th class="h_classificacao">CLASSIFICAÇÃO</th>
                    <th class="h_score">P</th>
                    <th class="h_matchs">J</th>
                    <th class="h_wins">V</th>
                    <th class="h_ties">E</th>
                    <th class="h_losers">D</th>
                    <th class="h_pro_goals">GP</th>
                    <th class="h_cons_goals">GC</th>
                    <th class="h_goals  _balance">SG</th>
                    <th class="h_percent">%</th>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            <h5 class="b_classificacao"><span class="position_table">1-</span> Itália</h5>
                        </td>
                        <td>
                            <h5 class="b_score"> 9</h5>
                        </td>
                        <td>
                            <h5 class="b_matchs"> 3</h5>
                        </td>
                        <td>
                            <h5 class="b_wins"> 3</h5>
                        </td>
                        <td>
                            <h5 class="b_ties"> 0</h5>
                        </td>
                        <td>
                            <h5 class="b_losers"> 0</h5>
                        </td>
                        <td>
                            <h5 class="b_pro_goals"> 7</h5>
                        </td>
                        <td>
                            <h5 class="b_cons_goals"> 0</h5>
                        </td>
                        <td>
                            <h5 class="b_goals_balance"> 7</h5>
                        </td>
                        <td>
                            <h5 class="b_percent"> 100</h5>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <h5 class="b_classificacao"><span class="position_table">2-</span> País de Gales</h5>
                        </td>
                        <td>
                            <h5 class="b_score"> 4</h5>
                        </td>
                        <td>
                            <h5 class="b_matchs"> 3</h5>
                        </td>
                        <td>
                            <h5 class="b_wins"> 1</h5>
                        </td>
                        <td>
                            <h5 class="b_ties"> 1</h5>
                        </td>
                        <td>
                            <h5 class="b_losers"> 1</h5>
                        </td>
                        <td>
                            <h5 class="b_pro_goals"> 3</h5>
                        </td>
                        <td>
                            <h5 class="b_cons_goals"> 2</h5>
                        </td>
                        <td>
                            <h5 class="b_goals_balance"> 1</h5>
                        </td>
                        <td>
                            <h5 class="b_percent"> 44,4</h5>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <h5 class="b_classificacao"><span class="position_table">3-</span> Suíça</h5>
                        </td>
                        <td>
                            <h5 class="b_score"> 4</h5>
                        </td>
                        <td>
                            <h5 class="b_matchs"> 3</h5>
                        </td>
                        <td>
                            <h5 class="b_wins"> 1</h5>
                        </td>
                        <td>
                            <h5 class="b_ties"> 1</h5>
                        </td>
                        <td>
                            <h5 class="b_losers"> 1</h5>
                        </td>
                        <td>
                            <h5 class="b_pro_goals"> 4</h5>
                        </td>
                        <td>
                            <h5 class="b_cons_goals"> 5</h5>
                        </td>
                        <td>
                            <h5 class="b_goals_balance"> -1</h5>
                        </td>
                        <td>
                            <h5 class="b_percent"> 44,4</h5>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <h5 class="b_classificacao"><span class="position_table">4-</span> Turquia</h5>
                        </td>
                        <td>
                            <h5 class="b_score"> 0</h5>
                        </td>
                        <td>
                            <h5 class="b_matchs"> 3</h5>
                        </td>
                        <td>
                            <h5 class="b_wins"> 0</h5>
                        </td>
                        <td>
                            <h5 class="b_ties"> 0</h5>
                        </td>
                        <td>
                            <h5 class="b_losers"> 3</h5>
                        </td>
                        <td>
                            <h5 class="b_pro_goals"> 1</h5>
                        </td>
                        <td>
                            <h5 class="b_cons_goals"> 8</h5>
                        </td>
                        <td>
                            <h5 class="b_goals_balance"> -7</h5>
                        </td>
                        <td>
                            <h5 class="b_percent"> 0</h5>
                        </td>
                    </tr>
                </tbody>
            </table>
            <hr>
        </section>
        <section class="section">
            <h3 class="group-name">Grupo B</h3>
            <table class="table-score group group-b">
                <thead>
                    <th class="h_classificacao">CLASSIFICAÇÃO</th>
                    <th class="h_score">P</th>
                    <th class="h_matchs">J</th>
                    <th class="h_wins">V</th>
                    <th class="h_ties">E</th>
                    <th class="h_losers">D</th>
                    <th class="h_pro_goals">GP</th>
                    <th class="h_cons_goals">GC</th>
                    <th class="h_goals  _balance">SG</th>
                    <th class="h_percent">%</th>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            <h5 class="b_classificacao"><span class="position_table">1-</span> Bélgica</h5>
                        </td>
                        <td>
                            <h5 class="b_score"> 9</h5>
                        </td>
                        <td>
                            <h5 class="b_matchs"> 3</h5>
                        </td>
                        <td>
                            <h5 class="b_wins"> 3</h5>
                        </td>
                        <td>
                            <h5 class="b_ties"> 0</h5>
                        </td>
                        <td>
                            <h5 class="b_losers"> 0</h5>
                        </td>
                        <td>
                            <h5 class="b_pro_goals"> 7</h5>
                        </td>
                        <td>
                            <h5 class="b_cons_goals"> 1</h5>
                        </td>
                        <td>
                            <h5 class="b_goals_balance"> 6</h5>
                        </td>
                        <td>
                            <h5 class="b_percent"> 100</h5>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <h5 class="b_classificacao"><span class="position_table">2-</span> Dinamarca</h5>
                        </td>
                        <td>
                            <h5 class="b_score"> 3</h5>
                        </td>
                        <td>
                            <h5 class="b_matchs"> 3</h5>
                        </td>
                        <td>
                            <h5 class="b_wins"> 1</h5>
                        </td>
                        <td>
                            <h5 class="b_ties"> 0</h5>
                        </td>
                        <td>
                            <h5 class="b_losers"> 2</h5>
                        </td>
                        <td>
                            <h5 class="b_pro_goals"> 5</h5>
                        </td>
                        <td>
                            <h5 class="b_cons_goals"> 4</h5>
                        </td>
                        <td>
                            <h5 class="b_goals_balance"> 1</h5>
                        </td>
                        <td>
                            <h5 class="b_percent"> 33,3</h5>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <h5 class="b_classificacao"><span class="position_table">3-</span> Finlândia</h5>
                        </td>
                        <td>
                            <h5 class="b_score"> 3</h5>
                        </td>
                        <td>
                            <h5 class="b_matchs"> 3</h5>
                        </td>
                        <td>
                            <h5 class="b_wins"> 1</h5>
                        </td>
                        <td>
                            <h5 class="b_ties"> 0</h5>
                        </td>
                        <td>
                            <h5 class="b_losers"> 2</h5>
                        </td>
                        <td>
                            <h5 class="b_pro_goals"> 1</h5>
                        </td>
                        <td>
                            <h5 class="b_cons_goals"> 3</h5>
                        </td>
                        <td>
                            <h5 class="b_goals_balance"> -2</h5>
                        </td>
                        <td>
                            <h5 class="b_percent"> 33,3</h5>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <h5 class="b_classificacao"><span class="position_table">4-</span> Rússia</h5>
                        </td>
                        <td>
                            <h5 class="b_score"> 3</h5>
                        </td>
                        <td>
                            <h5 class="b_matchs"> 3</h5>
                        </td>
                        <td>
                            <h5 class="b_wins"> 1</h5>
                        </td>
                        <td>
                            <h5 class="b_ties"> 0</h5>
                        </td>
                        <td>
                            <h5 class="b_losers"> 2</h5>
                        </td>
                        <td>
                            <h5 class="b_pro_goals"> 2</h5>
                        </td>
                        <td>
                            <h5 class="b_cons_goals"> 7</h5>
                        </td>
                        <td>
                            <h5 class="b_goals_balance"> -5</h5>
                        </td>
                        <td>
                            <h5 class="b_percent"> 33,3</h5>
                        </td>
                    </tr>
                </tbody>
            </table>
            <hr>
        </section>
        <section class="section">
            <h3 class="group-name">Grupo C</h3>
            <table class="table-score group group-c">
                <thead>
                    <th class="h_classificacao">CLASSIFICAÇÃO</th>
                    <th class="h_score">P</th>
                    <th class="h_matchs">J</th>
                    <th class="h_wins">V</th>
                    <th class="h_ties">E</th>
                    <th class="h_losers">D</th>
                    <th class="h_pro_goals">GP</th>
                    <th class="h_cons_goals">GC</th>
                    <th class="h_goals  _balance">SG</th>
                    <th class="h_percent">%</th>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            <h5 class="b_classificacao"><span class="position_table">1-</span> Holanda</h5>
                        </td>
                        <td>
                            <h5 class="b_score"> 9</h5>
                        </td>
                        <td>
                            <h5 class="b_matchs"> 3</h5>
                        </td>
                        <td>
                            <h5 class="b_wins"> 3</h5>
                        </td>
                        <td>
                            <h5 class="b_ties"> 0</h5>
                        </td>
                        <td>
                            <h5 class="b_losers"> 0</h5>
                        </td>
                        <td>
                            <h5 class="b_pro_goals"> 8</h5>
                        </td>
                        <td>
                            <h5 class="b_cons_goals"> 2</h5>
                        </td>
                        <td>
                            <h5 class="b_goals_balance"> 6</h5>
                        </td>
                        <td>
                            <h5 class="b_percent"> 100</h5>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <h5 class="b_classificacao"><span class="position_table">2-</span> Áustria</h5>
                        </td>
                        <td>
                            <h5 class="b_score"> 6</h5>
                        </td>
                        <td>
                            <h5 class="b_matchs"> 3</h5>
                        </td>
                        <td>
                            <h5 class="b_wins"> 2</h5>
                        </td>
                        <td>
                            <h5 class="b_ties"> 0</h5>
                        </td>
                        <td>
                            <h5 class="b_losers"> 1</h5>
                        </td>
                        <td>
                            <h5 class="b_pro_goals"> 4</h5>
                        </td>
                        <td>
                            <h5 class="b_cons_goals"> 3</h5>
                        </td>
                        <td>
                            <h5 class="b_goals_balance"> 1</h5>
                        </td>
                        <td>
                            <h5 class="b_percent"> 66,7</h5>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <h5 class="b_classificacao"><span class="position_table">3-</span> Ucrânia</h5>
                        </td>
                        <td>
                            <h5 class="b_score"> 3</h5>
                        </td>
                        <td>
                            <h5 class="b_matchs"> 3</h5>
                        </td>
                        <td>
                            <h5 class="b_wins"> 1</h5>
                        </td>
                        <td>
                            <h5 class="b_ties"> 0</h5>
                        </td>
                        <td>
                            <h5 class="b_losers"> 2</h5>
                        </td>
                        <td>
                            <h5 class="b_pro_goals"> 4</h5>
                        </td>
                        <td>
                            <h5 class="b_cons_goals"> 5</h5>
                        </td>
                        <td>
                            <h5 class="b_goals_balance"> -1</h5>
                        </td>
                        <td>
                            <h5 class="b_percent"> 33,3</h5>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <h5 class="b_classificacao"><span class="position_table">4-</span> Macedônia</h5>
                        </td>
                        <td>
                            <h5 class="b_score"> 0</h5>
                        </td>
                        <td>
                            <h5 class="b_matchs"> 3</h5>
                        </td>
                        <td>
                            <h5 class="b_wins"> 0</h5>
                        </td>
                        <td>
                            <h5 class="b_ties"> 0</h5>
                        </td>
                        <td>
                            <h5 class="b_losers"> 3</h5>
                        </td>
                        <td>
                            <h5 class="b_pro_goals"> 2</h5>
                        </td>
                        <td>
                            <h5 class="b_cons_goals"> 8</h5>
                        </td>
                        <td>
                            <h5 class="b_goals_balance"> -6</h5>
                        </td>
                        <td>
                            <h5 class="b_percent"> 0</h5>
                        </td>
                    </tr>
                </tbody>
            </table>
            <hr>
        </section>
        <section class="section">
            <h3 class="group-name">Grupo D</h3>
            <table class="table-score group group-d">
                <thead>
                    <th class="h_classificacao">CLASSIFICAÇÃO</th>
                    <th class="h_score">P</th>
                    <th class="h_matchs">J</th>
                    <th class="h_wins">V</th>
                    <th class="h_ties">E</th>
                    <th class="h_losers">D</th>
                    <th class="h_pro_goals">GP</th>
                    <th class="h_cons_goals">GC</th>
                    <th class="h_goals  _balance">SG</th>
                    <th class="h_percent">%</th>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            <h5 class="b_classificacao"><span class="position_table">1-</span> Inglaterra</h5>
                        </td>
                        <td>
                            <h5 class="b_score"> 7</h5>
                        </td>
                        <td>
                            <h5 class="b_matchs"> 3</h5>
                        </td>
                        <td>
                            <h5 class="b_wins"> 2</h5>
                        </td>
                        <td>
                            <h5 class="b_ties"> 1</h5>
                        </td>
                        <td>
                            <h5 class="b_losers"> 0</h5>
                        </td>
                        <td>
                            <h5 class="b_pro_goals"> 2</h5>
                        </td>
                        <td>
                            <h5 class="b_cons_goals"> 0</h5>
                        </td>
                        <td>
                            <h5 class="b_goals_balance"> 2</h5>
                        </td>
                        <td>
                            <h5 class="b_percent"> 77,8</h5>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <h5 class="b_classificacao"><span class="position_table">2-</span> Croácia</h5>
                        </td>
                        <td>
                            <h5 class="b_score"> 4</h5>
                        </td>
                        <td>
                            <h5 class="b_matchs"> 3</h5>
                        </td>
                        <td>
                            <h5 class="b_wins"> 1</h5>
                        </td>
                        <td>
                            <h5 class="b_ties"> 1</h5>
                        </td>
                        <td>
                            <h5 class="b_losers"> 1</h5>
                        </td>
                        <td>
                            <h5 class="b_pro_goals"> 4</h5>
                        </td>
                        <td>
                            <h5 class="b_cons_goals"> 3</h5>
                        </td>
                        <td>
                            <h5 class="b_goals_balance"> 1</h5>
                        </td>
                        <td>
                            <h5 class="b_percent"> 44,4</h5>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <h5 class="b_classificacao"><span class="position_table">3-</span> Rep. Tcheca</h5>
                        </td>
                        <td>
                            <h5 class="b_score"> 4</h5>
                        </td>
                        <td>
                            <h5 class="b_matchs"> 3</h5>
                        </td>
                        <td>
                            <h5 class="b_wins"> 1</h5>
                        </td>
                        <td>
                            <h5 class="b_ties"> 1</h5>
                        </td>
                        <td>
                            <h5 class="b_losers"> 1</h5>
                        </td>
                        <td>
                            <h5 class="b_pro_goals"> 3</h5>
                        </td>
                        <td>
                            <h5 class="b_cons_goals"> 2</h5>
                        </td>
                        <td>
                            <h5 class="b_goals_balance"> 1</h5>
                        </td>
                        <td>
                            <h5 class="b_percent"> 44,4</h5>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <h5 class="b_classificacao"><span class="position_table">4-</span> Escócia</h5>
                        </td>
                        <td>
                            <h5 class="b_score"> 1</h5>
                        </td>
                        <td>
                            <h5 class="b_matchs"> 3</h5>
                        </td>
                        <td>
                            <h5 class="b_wins"> 0</h5>
                        </td>
                        <td>
                            <h5 class="b_ties"> 1</h5>
                        </td>
                        <td>
                            <h5 class="b_losers"> 2</h5>
                        </td>
                        <td>
                            <h5 class="b_pro_goals"> 1</h5>
                        </td>
                        <td>
                            <h5 class="b_cons_goals"> 5</h5>
                        </td>
                        <td>
                            <h5 class="b_goals_balance"> -4</h5>
                        </td>
                        <td>
                            <h5 class="b_percent"> 11,1</h5>
                        </td>
                    </tr>
                </tbody>
            </table>
            <hr>
        </section>
        <section class="section">
            <h3 class="group-name">Grupo E</h3>
            <table class="table-score group group-e">
                <thead>
                    <th class="h_classificacao">CLASSIFICAÇÃO</th>
                    <th class="h_score">P</th>
                    <th class="h_matchs">J</th>
                    <th class="h_wins">V</th>
                    <th class="h_ties">E</th>
                    <th class="h_losers">D</th>
                    <th class="h_pro_goals">GP</th>
                    <th class="h_cons_goals">GC</th>
                    <th class="h_goals  _balance">SG</th>
                    <th class="h_percent">%</th>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            <h5 class="b_classificacao"><span class="position_table">1-</span> Suécia</h5>
                        </td>
                        <td>
                            <h5 class="b_score"> 7</h5>
                        </td>
                        <td>
                            <h5 class="b_matchs"> 3</h5>
                        </td>
                        <td>
                            <h5 class="b_wins"> 2</h5>
                        </td>
                        <td>
                            <h5 class="b_ties"> 1</h5>
                        </td>
                        <td>
                            <h5 class="b_losers"> 0</h5>
                        </td>
                        <td>
                            <h5 class="b_pro_goals"> 4</h5>
                        </td>
                        <td>
                            <h5 class="b_cons_goals"> 2</h5>
                        </td>
                        <td>
                            <h5 class="b_goals_balance"> 2</h5>
                        </td>
                        <td>
                            <h5 class="b_percent"> 77,8</h5>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <h5 class="b_classificacao"><span class="position_table">2-</span> Espanha</h5>
                        </td>
                        <td>
                            <h5 class="b_score"> 5</h5>
                        </td>
                        <td>
                            <h5 class="b_matchs"> 3</h5>
                        </td>
                        <td>
                            <h5 class="b_wins"> 1</h5>
                        </td>
                        <td>
                            <h5 class="b_ties"> 2</h5>
                        </td>
                        <td>
                            <h5 class="b_losers"> 0</h5>
                        </td>
                        <td>
                            <h5 class="b_pro_goals"> 6</h5>
                        </td>
                        <td>
                            <h5 class="b_cons_goals"> 1</h5>
                        </td>
                        <td>
                            <h5 class="b_goals_balance"> 5</h5>
                        </td>
                        <td>
                            <h5 class="b_percent"> 55,6</h5>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <h5 class="b_classificacao"><span class="position_table">3-</span> Eslováquia</h5>
                        </td>
                        <td>
                            <h5 class="b_score"> 3</h5>
                        </td>
                        <td>
                            <h5 class="b_matchs"> 3</h5>
                        </td>
                        <td>
                            <h5 class="b_wins"> 1</h5>
                        </td>
                        <td>
                            <h5 class="b_ties"> 0</h5>
                        </td>
                        <td>
                            <h5 class="b_losers"> 2</h5>
                        </td>
                        <td>
                            <h5 class="b_pro_goals"> 2</h5>
                        </td>
                        <td>
                            <h5 class="b_cons_goals"> 7</h5>
                        </td>
                        <td>
                            <h5 class="b_goals_balance"> -5</h5>
                        </td>
                        <td>
                            <h5 class="b_percent"> 33,3</h5>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <h5 class="b_classificacao"><span class="position_table">4-</span> Polonia</h5>
                        </td>
                        <td>
                            <h5 class="b_score"> 1</h5>
                        </td>
                        <td>
                            <h5 class="b_matchs"> 3</h5>
                        </td>
                        <td>
                            <h5 class="b_wins"> 0</h5>
                        </td>
                        <td>
                            <h5 class="b_ties"> 1</h5>
                        </td>
                        <td>
                            <h5 class="b_losers"> 2</h5>
                        </td>
                        <td>
                            <h5 class="b_pro_goals"> 4</h5>
                        </td>
                        <td>
                            <h5 class="b_cons_goals"> 6</h5>
                        </td>
                        <td>
                            <h5 class="b_goals_balance"> -2</h5>
                        </td>
                        <td>
                            <h5 class="b_percent">11,1</h5>
                        </td>
                    </tr>
                </tbody>
            </table>
            <hr>
        </section>
        <section class="section">
            <h3 class="group-name">Grupo F</h3>
            <table class="table-score group group-f">
                <thead>
                    <th class="h_classificacao">CLASSIFICAÇÃO</th>
                    <th class="h_score">P</th>
                    <th class="h_matchs">J</th>
                    <th class="h_wins">V</th>
                    <th class="h_ties">E</th>
                    <th class="h_losers">D</th>
                    <th class="h_pro_goals">GP</th>
                    <th class="h_cons_goals">GC</th>
                    <th class="h_goals  _balance">SG</th>
                    <th class="h_percent">%</th>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            <h5 class="b_classificacao"><span class="position_table">1-</span> França</h5>
                        </td>
                        <td>
                            <h5 class="b_score"> 5</h5>
                        </td>
                        <td>
                            <h5 class="b_matchs"> 3</h5>
                        </td>
                        <td>
                            <h5 class="b_wins"> 1</h5>
                        </td>
                        <td>
                            <h5 class="b_ties"> 2</h5>
                        </td>
                        <td>
                            <h5 class="b_losers"> 0</h5>
                        </td>
                        <td>
                            <h5 class="b_pro_goals"> 4</h5>
                        </td>
                        <td>
                            <h5 class="b_cons_goals"> 3</h5>
                        </td>
                        <td>
                            <h5 class="b_goals_balance"> 1</h5>
                        </td>
                        <td>
                            <h5 class="b_percent"> 55,6</h5>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <h5 class="b_classificacao"><span class="position_table">2-</span> Alemanha</h5>
                        </td>
                        <td>
                            <h5 class="b_score"> 4</h5>
                        </td>
                        <td>
                            <h5 class="b_matchs"> 3</h5>
                        </td>
                        <td>
                            <h5 class="b_wins"> 1</h5>
                        </td>
                        <td>
                            <h5 class="b_ties"> 1</h5>
                        </td>
                        <td>
                            <h5 class="b_losers"> 1</h5>
                        </td>
                        <td>
                            <h5 class="b_pro_goals"> 6</h5>
                        </td>
                        <td>
                            <h5 class="b_cons_goals"> 5</h5>
                        </td>
                        <td>
                            <h5 class="b_goals_balance"> 1</h5>
                        </td>
                        <td>
                            <h5 class="b_percent"> 44,4</h5>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <h5 class="b_classificacao"><span class="position_table">3-</span> Portugal</h5>
                        </td>
                        <td>
                            <h5 class="b_score"> 4</h5>
                        </td>
                        <td>
                            <h5 class="b_matchs"> 3</h5>
                        </td>
                        <td>
                            <h5 class="b_wins"> 1</h5>
                        </td>
                        <td>
                            <h5 class="b_ties"> 1</h5>
                        </td>
                        <td>
                            <h5 class="b_losers"> 1</h5>
                        </td>
                        <td>
                            <h5 class="b_pro_goals"> 7</h5>
                        </td>
                        <td>
                            <h5 class="b_cons_goals"> 6</h5>
                        </td>
                        <td>
                            <h5 class="b_goals_balance"> 1</h5>
                        </td>
                        <td>
                            <h5 class="b_percent"> 44,4</h5>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <h5 class="b_classificacao"><span class="position_table">4-</span> Hungria</h5>
                        </td>
                        <td>
                            <h5 class="b_score"> 2</h5>
                        </td>
                        <td>
                            <h5 class="b_matchs"> 3</h5>
                        </td>
                        <td>
                            <h5 class="b_wins"> 0</h5>
                        </td>
                        <td>
                            <h5 class="b_ties"> 2</h5>
                        </td>
                        <td>
                            <h5 class="b_losers"> 1</h5>
                        </td>
                        <td>
                            <h5 class="b_pro_goals"> 3</h5>
                        </td>
                        <td>
                            <h5 class="b_cons_goals"> 6</h5>
                        </td>
                        <td>
                            <h5 class="b_goals_balance"> -3</h5>
                        </td>
                        <td>
                            <h5 class="b_percent"> 22,2</h5>
                        </td>
                    </tr>
                </tbody>
            </table>
            <ul>
                <li>P - Pontos</li>
                <li>J - Jogos</li>
                <li>V - Vitórias</li>
                <li>E - Empates</li>
                <li>D - Derrotas</li>
                <li>GP - Gols Pró</li>
                <li>GC - Gols Contra</li>
                <li>SG - Saldo de Gols</li>
                <li>% - Aproveitamento(%)</li>
            </ul>
        </section>

        <section class="section">
            <h3 class="title-section">Fase Eliminatória</h3>
            <hr class="title-section-line">
            <br>
            <br>
            <img src="../assets/images/mata-mata.png" class="table-score" srcset="">
        </section>

    </div>

    <footer class="footer">
        <div class="footer-margem">
            <img class="footer-image" src="..\assets\images\logo-euro.jpg" alt="logo-euro">
            <h6 class="copyright"> Ⓒ Feito por Matheus Macedo e Maickel Alves </h6>
        </div>
        <nav class="navigate">
            <div class="menu-link"><a href="home.html">HOME</a></div>
            <div class="menu-link"><a href="selecao.html">SELEÇÕES</a></div>
            <div class="menu-link active"><a href="table.html">TABELA</a></div>
            <div class="menu-link"><a href="comment.html">COMENTÁRIOS</a></div>
            <div class="menu-link"><a href="about.html">SOBRE</a></div>
        </nav>
        <div class="footer-margem"></div>
    </footer>

</body>

</html>