.comment,
.form {
    padding: 20px 10%;
    color: white;
    background-image: var(--main-color);
    margin-bottom: 30px;
}

.form {
    display: flex;
}

.col-1,
.col-2 {
    display: flex;
    flex-direction: column;
}

.row {
    display: flex;
    justify-content: space-between;
}

.row-2 {
    margin-top: 8%;
}

.col-1 {
    width: 75%;
}

.col-2 {
    width: 25%;
    align-items: center;
    margin-left: 10%;
}

.comment-line {
    background-color: white;
    background-image: none;
    width: 100px;
}

.comment-text {
    padding-bottom: 20px;
}

.comment-name {
    padding: 4px 0px;
}

img.rate {
    width: 25px;
    padding-top: 10% ;
}

.comment-flag {
    height: 20px;
}

.input-name,
.input-email,
.input-selecao {
    width: 30%;
    height: 30px;
}

textarea {
    width: 100%;
}

button {
    margin-top: 30%;
    background-color: black;
    color: white;
    width: 100px;
    height: 25px;
}

.form-title {
    width: 100%;
    text-align: center;
    color: black;
    padding: 8px 0;
}

.rates {
    color: black;
    text-align: center;
    padding: 5px 0;
}

@media (min-width: 10px) and (max-width: 376px) {
    .input-name,
    .input-email,
    .input-selecao {
        /* width: 30%; */
        height: 80%;
}
    button{
        height: 70%;
        width: 100%;
        font-size: 70%;

    }
   .rates{
       padding: 1px 0;
       font-size: 80%;
   }

   .rate{
       padding-top: 15%;
   }

}