.selecao-box {
    display: flex;
    align-content: center;
    justify-content: center;
}

.selecao {
    width: 25%;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.selecao img {
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    height: 100px;
}

.selecao h6 {
    text-align: center;
    font-size: 0.9em;
}

@media (max-width: 300px)
{
  .selecao img 
   {
    height: 25px;
   }
}

@media (min-width: 600px)
{
  .selecao img 
   {
    height: 70px;
   }
}

@media (min-width: 900px)
{
  .selecao img 
   {
    height: 100px;
   }
}

@media (min-width: 1200px)
{
  .selecao img 
   {
    height: 150px;
   }
}

