.selecao-box {
    margin-top: 2%;
    margin-bottom: 2%;
    display: flex;
    align-content: center;
    justify-content: center;
}

.selecao {
    width: 25%;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.selecao img {
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    height: 100px;
}

.selecao h6 {
    text-align: center;
    font-size: 0.9em;
}

@media (min-width: 10px) and (max-width: 376px) {
    .selecao img {
      width: 80%;
      height: 25%;
    }
}

