:root {
    --main-color: linear-gradient(rgba(144, 247, 236, 1), rgba(50, 204, 188, 1));
}

* {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    font-family: Source Serif Pro, sans-serif;
}

.header .border-navigate {
    background-image: var(--main-color);
    width: 100%;
    height: 30px;
}

.navigate {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    height: 100px;
}

.content {
    min-height: calc(100vh - 130px);
}

.footer {
    position: relative;
    background-image: var(--main-color);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 180px;
}

.footer-image {
    border-radius: 50px 50px;
    width: 176px;
    height: 80px;
    justify-content: center;
    align-items: center;
}

.footer-margem {
    width: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.menu-link {
    text-align: center;
    margin-right: 10px;
    margin-left: 10px;
    width: 100px;
    line-height: 40px;
    font-weight: bold;
    font-size: 13px;
}

.header .navigate .menu-link a {
    display: block;
    color: black;
    text-decoration: none;
    background-color: var(--main-color);
}

.footer .navigate .menu-link a {
    display: block;
    color: white;
    text-decoration: none;
    background-color: var(--main-color);
}

.header .navigate .menu-link a:hover,
.header .navigate .menu-link.active,
.menu-link:hover {
    background-image: var(--main-color);
}

.footer .navigate .menu-link a:hover,
.footer .navigate .menu-link.active {
    background-color: black;
}

.copyright {
    text-align: center;
    color: white;
    margin: 5px;
}


/* doing at home page */

.logo {
    width: 100%;
    height: 20px;
    background-image: var(--main-color);
}

.section {
    margin-right: 10%;
    margin-left: 10%;
    margin-bottom: 25px;
    margin-top: 25px;
}

.section.section-inline {
    display: flex;
}

hr {
    background-image: var(--main-color);
    height: 1px;
}

hr.title-section-line {
    width: 50px;
}

.section .text-section {
    margin-top: 25px;
    margin-bottom: 25px;
    color: black;
    text-align: justify;
}

.table-champions {
    margin-top: 25px;
    margin-bottom: 25px;
    display: flex;
}

.grid-champions {
    display: grid;
    grid-template-columns: repeat(2, 40px);
    grid-template-rows: repeat(2, 40px);
    grid-gap: 15px;
    margin-left: 10%;
}

.grid-trofeus {
    display: grid;
    grid-template-columns: repeat(3, 40px);
    grid-template-rows: repeat(2, 40px);
    grid-gap: 15px;
    margin-left: 5%;
}

.champions-icon {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 2px solid rgba(0, 0, 0, 0.5);
}

.page-title {
    margin-right: 10%;
    margin-left: 10%;
    margin-top: 25px;
}

.video {
    width: 60%;
    height: 400px;
    
}

.section-video {
    text-align: center;
}

@media (min-width: 10px) and (max-width: 780px)
{
  .footer-margem 
   {
    display: none;
   }
}

@media (min-width: 10px) and (max-width: 376px)
{
  .footer 
   {
    display: none;
   }

   .video
   {
       width: 60%;
       height: 160px;
   }
}

@media (min-width: 376px) and (max-width: 768px)
{
  .footer 
   {
    height: 130px;
   }

   .video
   {
       width: 70%;
       height: 250px;
   }
}

@media (min-width: 769px) and (max-width: 1024px)
{
  .footer 
   {
    height: 160px;
   }

   .video
   {
       width: 60%;
       height: 280px;
   }
}

@media (min-width: 1025px)
{
  .footer 
   {
    height: 180px;
   }

   .video
   {
       width: 60%;
       height: 400px;
   }
}