.table-score {
    width: 100%;
}

.group-name {
    font-size: 1.9em;
}

.h_classificacao {
    text-align: left;
    width: 28%;
    font-size: 0.8em;
    height: 30px;
}

.b_score,
.b_wins,
.b_losers,
.b_cons_goals,
.b_percent {
    background-image: var(--main-color);
}

.h_score,
.h_matchs,
.h_wins,
.h_ties,
.h_losers,
.h_pro_goals,
.h_cons_goals,
.h_goals_balance,
.h_percent {
    height: 30px;
    width: 8%;
    font-size: 0.8em;
}

.b_classificacao,
.b_score,
.b_matchs,
.b_wins,
.b_ties,
.b_losers,
.b_pro_goals,
.b_cons_goals,
.b_goals_balance,
.b_percent {
    height: 30px;
    margin: auto 0;
}

td {
    border-top: 1px solid #c1c1c1;
    /* border-bottom: 1px solid #c1c1c1; */
    opacity: 0.95;
}

table {
    border-top: 1px solid #c1c1c1;
    border-bottom: 1px solid #c1c1c1;
    margin-bottom: 20px;
    margin-top: 10px;
}

h5.b_score,
h5.b_matchs,
h5.b_wins,
h5.b_ties,
h5.b_losers,
h5.b_pro_goals,
h5.b_cons_goals,
h5.b_goals_balance,
h5.b_percent {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 35px;
}

h5.b_classificacao {
    display: flex;
    align-items: center;
    height: 30px;
}